<h1>Welcome to MakersBnB</h1>

<form action='/users/new' method='post'>
  <input type='text' name='email'> Email: </input>
  <input type='text' name='username'> Username: </input>
  <input type='password' name='password'> Password: </input>
  <input type='password' name='password_confirmation'> Password confirmation: </input>
  <input type='submit' value='Sign Up'>
</form>
