<h1>Welcome to MakersBnB</h1>

<form action='/users/new' method='post'>
  Email: <input type='email' name='email' required>
  Username: <input type='text' name='username'>
  Password: <input type='password' name='password'>
  Password confirmation: <input type='password' name='password_confirmation'>
  <input type='submit' value='Sign Up'>
</form>
