<h1> New Listing </h1>

<form action='/listings/new' method='post'>
  <input type='text' name='name'> Name: </input>
  <input type='text' name='description'> Description: </input>
  <input type='number' name='price'> Price (per night): </input>
  <input type='date' name='date_from'> Availiable from: </input>
  <input type='date' name='date_to'> Availiable until: </input>
  <input type='submit' value='List my Space'>
</form>
