<h1> Listings: </h1>

<form action='/listing/new'>
  <input type='submit' value='List a Space'>
</form>


<ul id="listings">
  <% @listings.each do |listing| %>
  <li>
    Listing Name: <%= listing.name %>
    Description: <%= listing.description %>
    Price: <%= listing.price %>
    <a href='/sessions/listing/<%=listing.name%>'>View Listing</a>
  </li>
  <% end %>
</ul>
