<h2 align="center"> Listings: </h2>
<br>
<form align="center" action='/listing/new'>
  <input class="btn btn-primary" type='submit' value='List a Space'>
</form>
<br>
<div class="col-md-4"></div>
<ul class="col-md-4" id="listings">
  <% @listings.each do |listing| %>
  <li>
    Listing Name: <%= listing.name %>
    Description: <%= listing.description %>
    Price: <%= listing.price %>
    <a href='/sessions/listing/<%=listing.name%>'>View Listing</a>
  </li>
  <% end %>
</ul>
<div class="col-md-4"></div>
