<h1> New Listing </h1>

<form action='/listing/new' method='post'>
  Name: <input type='text' name='name'>
  Description: <input type='text' name='description'>
  Price (per night): <input type='number' name='price'>
  Available from: <input type='date' name='availablefrom'>
  Available to: <input type='date' name='availableto'>
  <input type='submit' value='List my Space'>
</form>
