<h1> New Listing </h1>

<form action='/listings/new' method='post'>
  Name: <input type='text' name='name'>
  Description: <input type='text' name='description'>
  Price (per night): <input type='number' name='price'>
  Availiable from: <input type='date' name='date_from'>
  Availiable until: <input type='date' name='date_to'>
  <input type='submit' value='List my Space'>
</form>
